<section class="title-screen">
  <div class="title-nav">
    <ul class="nav">
      <li><a href="#animations">Animations</a></li>
      <li><a href="#implementation">Implementation</a></li>
    </ul>
  </div>
  <div class="title">
    <h1>ASA</h1>
    <h2>Angular Scroll Animations</h2>
  </div>
  <div class="scroll-down">
    <span>Scroll down</span>
    <mat-icon class="scroll-icon">keyboard_arrow_down</mat-icon>
  </div>
</section>
<section id="animations" class="lenna">
  <div class="lenna-container">
    <h1>Fade animations</h1>
    <div class="lenna-image" [scrollAnimation]="'fadeIn'">
      <h1>fade in</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'fadeInRight'">
      <h1>fade in right</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'fadeInLeft'">
      <h1>fade in left</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'fadeInTop'">
      <h1>fade in top</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'fadeInBottom'">
      <h1>fade in bottom</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <h1>Flip animations</h1>
    <div class="lenna-image" [scrollAnimation]="'flipRight'">
      <h1>flip right</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'flipLeft'">
      <h1>flip left</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'flipTop'">
      <h1>flip top</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'flipBottom'">
      <h1>flip bottom</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <h1>Zoom animations</h1>
    <div class="lenna-image" [scrollAnimation]="'zoomIn'">
      <h1>zoom in</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
    <div class="lenna-image" [scrollAnimation]="'zoomOut'">
      <h1>zoom out</h1>
      <img src="/assets/images/Lenna.png" alt="">
    </div>
  </div>
</section>
<section id="implementation" class="implementation">
  <h1>Implementation</h1>
  <p>Check out the <a target="_blank" href="https://www.npmjs.com/package/@penguin32/asa">NPM page</a> for usage and implementation, or check out the <a target="_blank" href="https://github.com/Penguin-32/asa">GitHub repository.</a></p>
</section>
